@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-600);
  --color-success: var(--color-green-500);
  --color-error: var(--color-red-500);
  --color-foreground: var(--color-slate-900);
}

body {
  @apply bg-slate-50 text-foreground antialiased;
}

/* Safe Area Utilities */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
